<section class="user-section">
  <h2><%= gravatar_for @user, size: 45 %><%= "Name: #{@user.name}" %></h2>  
  <% if current_user != @user && friends_check(@user) == false && pending_request(@user) == false %>
    <%= link_to 'Send friend request', send_friend_user_path, class: 'profile-link' %>
  <% elsif pending_request(@user) %>
    <span class= 'profile-link'>Friend request pending</span> 
          <% if !@pending_request.blank? %>
            <span class= 'profile-link'><%= accept_friend(@pending_request) %> | <%= reject_friend(@pending_request) %></span>
          <% end %>
  <% elsif friends_check(@user) %>
    <span class= 'profile-link'>Friends!!!</span> <%= unfriend(@user) %>
  <% end %>
  <% if current_user == @user %>
    <% if @user.incoming_friendships.any? %>
      <h4>Pending friendship requests: <%= @user.incoming_friendships.count %></h4>
      <ul>
        <% @user.incoming_friendships.each do |request| %>
          <li><%= gravatar_for request.user, size: 20 %><%= request.user.name %> | <%= accept_friend(request) %> | <%= reject_friend(request) %></li>
        <% end %>
      </ul>
    <% end %>
    <% if @user.friends.any? %>
      <h4>Friends: <%= @user.friends.count %></h4>
      <ul>
        <% @user.friends.each do |friend| %>
          <li><%= gravatar_for friend, size: 20 %><%= link_to friend.name, user_path(friend.id), class: 'profile-link' %> | <%= unfriend(friend) %>
        <% end %>
      </ul>
    <% end %>
  <% end %>


  <% if current_user == @user || friends_check(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
  <% end %>
</section>